@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


:root {
    --light: #f5f5f5;
    --dark: #101215;
    --grey: #9b9b9b;
    --greyer: #777777;
    --shadow: #000;

    --main: #ffffff;
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 8px;
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 8px;
}

:hover::-webkit-scrollbar-thumb {
    background-color: var(--greyer);
}


/* Navigation Bar */
.navigationBar {
    align-items: center;
    box-shadow: 0 3px 15px var(--shadow);
    display: flex;
    justify-content: right;
    padding: 15px 5%;
}

.navigationLinks {
    display: flex;
    list-style: none;
}

.navigationLinks li {
    padding: 0px 35px;
}

.navigationLinks a {
    color: var(--light);
    text-decoration: none;
}